
@import url('https://fonts.cdnfonts.com/css/md-grotesk');                

body {
    // background:
    //     linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    //     url('../res/architecture_indoors1.jpg')
    //     no-repeat center fixed;
    // background-size: cover;

    overflow-x: hidden;
}

// @font-face {
//     font-family: 'MD-Grotesk';
//     src:url('MD-Grotesk.ttf.woff') format('woff'),
//         url('MD-Grotesk.ttf.svg#MD-Grotesk') format('svg'),
//         url('MD-Grotesk.ttf.eot'),
//         url('MD-Grotesk.ttf.eot?#iefix') format('embedded-opentype'); 
//     font-weight: normal;
//     font-style: normal;
// }

header {
    // background-color: red !important;
    // color: red;
    width: 100%;
    height: 95vh;

    main {
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: center;
        // padding-left: 2.5rem;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        
        // @include ele-bg($url: "../../res/architecture_indoors1.jpg");
        font-family: 'MD Grotesk', sans-serif;
        font-size: xx-large;
        
        #hero-container {
            margin-left: 10%;
            // padding-top: 10rem;
            // height: 100%;
            // margin-bottom: 5%;
            display: flex;
            justify-content: center;
            // justify-content: space-evenly;
            // justify-items: center;
            // align-items: center;
            flex-direction: column;
            max-width: min-content;
            min-width: 700px;

            // background-color: red;

            h1 {
                // padding-top: 20px;
                color: white;
                // font-size: 2.5em !important;
                font-size: calc(5.2vw);
                // padding-bottom: 0;
                // text-transform: uppercase;
                // max-width:min-content;
            }

            & > p {
                margin-top: 0;
                padding-bottom: 20px;
                // padding-top: 20px;
                // padding-bottom: 20px;
                // font-weight: 100;
                // padding-left: 200px;
                // background-color: red;
                font-family: 'Open Sans', sans-serif;
                // font-size: x-large;
                // font-size: 24px;
                font-size: calc(1.4vw);
                // background-color: red;
                font-weight: 400;
                min-width: 600px;
                min-width: calc(40vw);
                // background-color: red;
                // padding-right: 80px;
                // max-width: 680px;
                // width: calc(10vw) !important;
            }

            button {
                all: unset;
                cursor: pointer;
                text-transform: uppercase;
                // font-size: 100% !important;
                font-size: calc(2.3vw) !important;
                padding-top: 20px;
                margin-top: 20px;
                border: 3px solid white;
                max-width: fit-content;
                display: flex;
                padding: 10px;

                p {
                    all: unset;
                }

                &:hover {
                    background-color: white;
                    color: black;

                    p {
                        font-weight: 900;
                    }
                }
            }
        }

        #hero-img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: red;
            // flex: 3;
            margin-right: 15%;
            // background-color: red;

            img#about-img {
                // width: 30%;
                width: 350px;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                animation: morphing 10s infinite;
            }

            @keyframes morphing {
                0% {
                    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                    box-shadow: 15px 15px 50px var(--shadow-color);
                }
                25% { 
                    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
                    box-shadow: -10px -5px 50px var(--shadow-color);
                }
                50% {
                    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
                    box-shadow: -10px -5px 50px var(--shadow-color);
                }
                75% {
                    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
                    box-shadow: 15px 15px 50px var(--shadow-color);
                }
                100% {
                    box-shadow: 15px 15px 50px var(--shadow-color);
                }
            }

            // img {
            //     margin-left: 20%;
            //     width: calc(20vw);
            //     filter: brightness(90%);
                
            //     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            //     width: 500px;
            //     width: 350px;
            //     border: 1px solid gold;
            // }

            .image-stack {
                position: relative;
                width: 100%;

                .image-stack-item--bottom {
                    position: absolute;
                    right: -150px;
                    top: -10px;
                    // padding-bottom: 20px;
                    padding-top: 80px;
                    width: 80%;
                    z-index: -1;
                }

                .image-stack-item--top {
                    padding-bottom: 80px;
                    // padding-right: 20px;
                    right: 40px;
                    width: 0%;
                }
            }
        }
    }
}

@media all and (max-width: 1600px) {
    header {
        main {
            // flex-direction: column !important;
            // gap: 50px;
            #hero-container {
                h1 {
                    // font-size: 2.85em;
                    // padding-bottom: 20px;
                }
        
                p {
                    // padding-bottom: 20px;
                    // font-size: 20px;
                }
            }
        
            #hero-img-container {
                img {
                    width: calc(20vw);
                    // width: 300px;
                }

                .image-stack {
                    .image-stack-item--bottom {
                        right: -100px;
                    }
                }
            }
        }
    }
}

// @media all and (max-width: 1500px) {
//     header {
//         main {
//             // flex-direction: column !important;
//             // gap: 50px;
//             #hero-container {
//                 h1 {
//                     font-size: 2.5em;
//                     // padding-bottom: 20px;
//                 }
        
//                 p {
//                     min-width: 560px;
//                     // font-size: 18px;
//                     // padding-bottom: 20px;
//                 }
//             }
        
//             #hero-img-container {
//                 img {
//                     width: 300px;
//                 }
//             }
//         }
//     }
// }

// @media all and (max-width: 1350px) {
//     header {
//         main {
//             // flex-direction: column !important;
//             // gap: 50px;
//             #hero-container {
//                 h1 {
//                     font-size: 2.3em;
//                     // padding-bottom: 20px;
//                 }
        
//                 p {
//                     min-width: 500px;
//                     font-size: 22px;
//                     // padding-bottom: 20px;
//                 }
//             }
        
//             #hero-img-container {
//                 img {
//                     width: 300px;
//                 }
//             }
//         }
//     }
// }

// @media all and (max-width: 1300px) {
//     header {
//         main {
//             // flex-direction: column !important;
//             // gap: 50px;
//             #hero-container {
//                 margin-left: 5%;
//                 h1 {
//                     font-size: 2em;
//                     // padding-bottom: 20px;
//                 }
        
//                 p {
//                     min-width: 400px;
//                     // font-size: 18px;
//                     // padding-bottom: 20px;
//                 }
//             }
        
//             #hero-img-container {
//                 img {
//                     width: 300px;
//                 }
//             }
//         }
//     }
// }

// @media all and (max-width: 1100px) {
//     header {
//         main {
//             // flex-direction: column !important;
//             // gap: 50px;
//             #hero-container {
//                 margin-left: 2%;
//                 h1 {
//                     font-size: 1.8em;
//                     // padding-bottom: 20px;
//                 }
        
//                 p {
//                     min-width: 300px;
//                     // font-size: 18px;
//                     // padding-bottom: 20px;
//                 }
//             }
        
//             #hero-img-container {
//                 img {
//                     width: 300px;
//                 }
//             }
//         }
//     }
// }

@media all and (max-width: 1050px) {
    header {
        margin-bottom: 500px;

        main {
            display: block;
            padding: 50px;
            flex-direction: column;
            align-items: center !important;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, 0);
            // gap: 50px;
            #hero-container {
                margin-top: 10px;
                transform: translate(5%, 0);
                margin-bottom: 150px;
                // margin-left: 2%;

                opacity: 0;
                filter: blur(5px);
                transform: translate(5%, 25%);
                transition: all 1s;

                &.show {
                    opacity: 1;
                    filter: blur(0);
                    transform: translate(5%, 0);
                    transition: all 1s;
                }

                h1 {
                    min-width: fit-content;
                    max-width: 80%;
                    font-size: calc(9vw);
                    margin-bottom: 20px;
                    // font-size: 3.3em;
                    // font-size: calc(11vw);
                    // font-size: 500%;
                    // font-size: 52.8px;
                    // width: 100px;
                    // padding-bottom: 20px;
                }
                
                p {
                    min-width: 600px;
                    // min-width: 80%;
                    // font-size: 26px;
                    font-size: calc(3vw);
                    margin-bottom: 0px;
                    // font-size: 18px;
                    // padding-bottom: 20px;
                }
            }
        
            #hero-img-container {
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // top: 50%;
                // left: 50%;
                transform: translate(25%, 0);
                margin-bottom: 280px;
                // background-color: red;

                opacity: 0;
                filter: blur(5px);
                transform: translate(25%, 25%);
                transition: all 1s;

                &.show {
                    opacity: 1;
                    filter: blur(0);
                    transform: translate(25%, 0);
                    transition: all 1s;
                }

                img {
                    width: 380px;
                }

                .image-stack {
                    // background-color: blue;

                    .image-stack-item--bottom {
                        width: 120%;
                    }
                }
            }
        }

    }
    
    section#about {
        margin-top: 828px !important;
    }
}